/* Resume viewer part */
.resume-view-top {
    height: 297mm;
    max-width: 210mm;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
}

.resume-view-right {
    background-color: var(--white);
    height: 297mm;
    max-width: 210mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 20px;
}

.personal-info-box-no-side-padding {
    grid-column: 1 / 2;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 15px;
    background-color: var(--dark-blue);
    /* border: 1px solid red; */
}

.personal-info-box-left {
    grid-column: 1 / 2;
    padding: 50px 32px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    background-color: var(--dark-blue);
}

.personal-info-box-right {
    grid-column: 3 / 4;
    padding: 32px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: var(--dark-blue);
}

.personal-info-details-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.personal-info-details-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    /* border: 1px solid red; */
    margin-bottom: 3rem;
}

.details-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.resume-info-parent-box-left {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resume-info-parent-box-right {
    grid-area: 1 / 1 / 2 / 3;
    /* border: 1px solid blue; */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.resume-info-box {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.resume-info-box-lang {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid red; */
}

.resume-title-box {
    background-color: var(--input);
    text-align: center;
    padding: 4px 0;
}

.resume-title-box {
    color: var(--dark-blue);
}

.resume-title-box > h3 {
    font-weight: 600;
}

.resume-date > h4{
    font-weight: 550;
}

.resume-details-box {
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 5%;
}

.resume-skills-n-languages-details-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resume-skill-lang-box-parent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 0.6;
}

.link-item {
    overflow-wrap: break-word;
}

.resume-skill-lang-box-parent > h4, .resume-place > h4, .resume-project-title > h4 {
    font-weight: bold;
}

.left-date-location-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right-name-position-desc-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resume-description, .resume-project-purpose {
    line-height: 1.4;
    padding-left: 0;
    margin: 0;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.list-dot {
    background-color: black;
    border-radius: 50%;
    min-width: 5px;
    min-height: 5px;
}

.resume-skill-box-child, .resume-language-box-child {
    line-height: 1.6;
}

.sub-layout-segments-line {
    display: flex;
    gap: 40px;
}

.sub-line-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 11px;
    cursor: pointer;
    min-width: 80px;
}

.style-subcontainer > h4 {
    font-size: 14px;
}

.style-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    justify-content: center;
}

.filed-out-segment {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    min-width: 80px;
}

.lined-out-segment {
    padding: 5px 10px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    min-width: 80px;
}

.personal-info-box-no-side-padding > h1, .personal-info-box-left > h1, .personal-info-box-right > h1 {
    font-size: 27px;
}

@media screen and (max-width: 903px) {
    .personal-info-box-no-side-padding > h1, .personal-info-box-left > h1, .personal-info-box-right > h1 {
        gap: 6px;
    }

    .personal-info-box-no-side-padding > h1, .personal-info-box-left > h1, .personal-info-box-right > h1 {
        font-size: 16px;
    }

    .details-box > div > h4 {
        font-size: 11px;
    }

    .resume-title-box > h3 {
        font-size: 13px;
    }

    .resume-date > h4, .resume-location > h4, .resume-location > a, .resume-place > h4, .resume-position > h4, .list-item, .resume-skill-lang-box-parent > h3, .resume-skill-box-child > h4, .resume-language-box-child > h4 {
        font-size: 11px;
    }

    .resume-info-parent-box-left, .resume-info-parent-box-right {
        gap: 15px;
    }
}

@media screen and (max-width: 453px) {
    .personal-info-details-row, .personal-info-details-column {
        gap: 13px;
    }

    .personal-info-box-no-side-padding > h1, .personal-info-box-left > h1, .personal-info-box-right > h1 {
        font-size: 13px;
    }
     
    .details-box > div > h4 {
        font-size: 9px;
    }
}